.container{
  height: 350px;
  background-color: rgb(22, 22, 22);
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/***LEFT SIDE ***/
.left-part{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 20%;
}
.footer-img{
  width: 250px;
  filter: invert(99%) sepia(0%) saturate(1844%) hue-rotate(246deg) brightness(80%) contrast(100%);
}

/*nav button*/
.image-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: solid var(--desert-color) 2px;
  transform: rotate(-135deg);
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
  color: var(--desert-color);
}
.icon-button{
  position: relative;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 10px;
  transform: rotate(45deg);
}
.icon-button{
  margin-right: 10px;
  margin-bottom: 10px;
}
.image-button:hover{
  background-color: rgba(250, 190, 112, 0.853);
  color: var(--dark-basic);
  border-color: rgba(250, 190, 112, 0.853);
  animation: buttonAnimation 0.5s forwards; 
}
.image-button:active{
  filter: brightness(70%);
}

@keyframes buttonAnimation {
  0% {
    transform: rotate(100deg);
  }
  100% {
    transform: rotate(-135deg);
  }
}


/***CENTER***/

.middle-part{
  display: flex;
  height: 70%;
  width: 40%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.middle-part h1{
  font-family: var(--font-header);
  font-size: 30px;
}
.input-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-weight: bold;
}
.middle-part span,
.input-group span{
  color: var(--desert-color);
}
form{
  height: 50px;
}
mat-error{
  font-size: 12px;
  color: white;
  padding-left: 5px;
}

/*input look*/
.input {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input input{
  width: 200px;
  height: 100%;
  background-color: rgb(51, 51, 51);
  color: white;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 14px;
  padding-left: 15px;
  font-weight: bold;
}
input:focus {
  outline: none;
}
.input button{
  width: 100px;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 18px;
  border: solid var(--desert-color) 1px;
  color: var(--desert-color);
  font-family: var(--font-desc);
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}
.input button:hover{
  filter: brightness(80%);
  background-color: var(--desert-color);
  color: black;
}
.input button:active{
  filter: brightness(100%);

}
/*email recieved info*/
.message-container {
  font-weight: bold;
  position: fixed;
  bottom: 1.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--desert-color);
  font-size: 16px;
  font-weight: bold;
  z-index: 9999;
  background-color: rgb(37, 37, 37);
  padding: 10px 10px;
  border-radius: 5px;
}
.message {
  text-align: center;
}

/***RIGHT PART***/
.right-part{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  height: 100%;
  width: 20%;
}
.right-part p {
  text-align: end;
  color: rgb(214, 214, 214);
  font-size: 12px;
}

/*logo*/
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.logo-icon{
  font-size: 62px;
  color: var(--desert-color);
}
.logo-name{
  font-size: 28px;
  letter-spacing: 1px;
  font-family: var(--font-header);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo-name-top{
  font-size: 20px;
  color: var(--desert-color);

}
/*animations*/
.hidden{
  opacity: 0;
}

.animation-button{
  opacity: 0;
  animation: buttonAnimation 0.7s forwards;
  animation-delay: 0.4s;
}
.animation-header{
  opacity: 0;
  animation: headerAnimation 0.7s forwards;
  animation-delay: 0.2s;
}
.animation-input{
  opacity: 0;
  animation: headerAnimation 1s forwards;
  animation-delay: 0.3s;
}
.animation-logo{
  opacity: 0;
  animation: headerAnimation 1s forwards;
  animation-delay: 0.6s;
}


@keyframes buttonAnimation {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 0.9;
    transform: rotate(-135deg);
  }
}
@keyframes headerAnimation {
  0% {
    opacity: 0;
  
  }
  100% {
    opacity: 1;

  }
}
  

@media (max-width: 790px) {
  .left-part{
    display: none;
  }
}

@media (max-width: 570px) {
  .container{
    flex-direction: column;
    justify-content: center;
    padding: 30px 0px;
    height: 300px;
  }
  .middle-part{
    height: 50%;
    width: 100%;
    flex-direction: column;
  }
  .middle-part h1{
    font-size: 25px;
  }
  .right-part{
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }
  .message-container {
    font-weight: bold;
    position: fixed;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--desert-color);
    background-color: rgb(37, 37, 37);
    font-size: 15px;
    font-weight: bold;
    z-index: 9999;
    width: 50%;
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px;
  }
  .message {
    text-align: center;
  }
}

@media (max-width: 340px) {
  .input input{
    width: 70px;
  }
  .input button{
    width: 50px;
    font-size: 15px;
  }
}


@media (max-width: 290px) {
  .container{
    gap: 50px;
    height: 350px;
  }
  .middle-part h1{
    font-size: 18px;
    text-align: center;
  }
  .input-group{
    font-size: 12px;
    text-align: center;
  }
  .right-part{
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}